[bumpversion]
current_version = 0.2.3
files = saltax/__init__.py
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"
