# File for the requirements of saltax with the automated tests
git+https://github.com/AxFoundation/strax
git+https://github.com/XENONnT/straxen
git+https://github.com/XENONnT/ax_env
pytest-xdist
xedocs==0.2.20
